<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko.lib.scanneriot">
    <application
        android:allowBackup="true"
        android:theme="@style/LaunchActivityTheme"
        android:usesCleartextTraffic="true">
    </application>
</manifest>